@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;&display=swap');

body {
margin:0;
padding:0;
background-image: url('istockphoto-956431518-612x612.jpg');
background-repeat: no-repeat;
    background-position: center top;
    box-sizing: border-box;
    background-size: cover;
    font-family: 'poppins' , sans-serif;
    display: flex;
    min-height: 25vh;
    flex-direction: column;
    overflow: hidden;
}


.container{
    color: #fff;
    
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container{
    font-weight: 100;
}

.date-container .time{
    font-size: 70px;
    font-weight: 300;
    color: aqua;
    
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
    color: aqua;
}

.date-container .date{
    font-size: 30px;
    color: aqua;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6 );
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid rgb(9, 152, 152);
    color: aqua;
    
}

.current-info .others .weather-items{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 32%;
    display: flex;
    align-items: center;
    position: relative;
    left: 550px;
    top: 40px;
    float: left;
    
}  
.search-bar{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1px 20px;
    background: darkslategray;
    height: 50px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: aqua;
}
.search-bar button img{
    width: 25px;
    height: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: transparent;
}
.weather_container{
    background: rgba(2, 24, 27, 0.8);
    position: fixed;
    padding: 25px;
    bottom: 0;
    color: white;
    width: 100%;
    align-items: center;
    display: flex;
    border-top: 3px solid aqua;
}
.today{
    display: flex;
    border: 1px solid rgb(9, 152, 152);;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 30px 225px 30px 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    color: rgb(9, 152, 152);
}
.today #location{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: left;
    display: flex;
    justify-content: right;
}
.today #current_temp{
    font-size: 30px;
    padding-top: 15px;
    display: flex;    
}
.today #current_weather{
    font-size: 25px;
}

.weather_subsection{
    margin: 0 10px;
    border: 1px solid rgb(9, 152, 152);
    padding: 5px 25px 6px 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.2);
}

.weather_subsection #anoday{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
    display: flex;
    color: rgb(9, 152, 152);
}

.weather_subsection #day1_avg_temp{
    font-size: 30px;
    padding-top: 15px;
    display: flex;
    color: rgb(9, 152, 152);
}
.weather_subsection #day1_icon{
    justify-content: center;
    align-items: center;
}
.weather_subsection #day2_avg_temp{
    font-size: 30px;
    padding-top: 15px;
    display: flex;
    color: rgb(9, 152, 152);
}
.weather_subsection #day2_icon{
    justify-content: center;
    align-items: center;
}

.weather_subsection #day1_condition{
    font-size: 23px;
    color: rgb(9, 152, 152);
}
.weather_subsection #day2_condition{
    font-size: 23px;
    color: rgb(9, 152, 152);
}