@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;&display=swap');


body {
margin:0;
padding:0;
background-image: url('istockphoto-956431518-612x612.jpg');
background-repeat: no-repeat;
    
    background-position: center top;
    box-sizing: border-box;
    background-size: cover;
    font-family: 'poppins' , sans-serif;
    display: flex;
    min-height: 25vh;
    flex-direction: column;
    overflow: hidden;
}


.container{
    padding: 20px 70px;
    color: #fff;
    position: relative;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.date-container{
    font-weight: 100;
}

.date-container .time{
    font-size: 70px;
    font-weight: 300;
    
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
    
}

.date-container .date{
    font-size: 30px;
    
    
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6 );
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    
}

.current-info .others .weather-items{
    display: flex;
    justify-content: space-between;

}
.box{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    left: 550px;
    top: 40px;
    float: left;
    
    
}  
.search-bar{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1px 20px;
    background: darkslategray;
    height: 50px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
.search-bar button img{
    width: 25px;
    height: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: transparent;
}
.weather_container{
    background: rgba(24,24,27, 0.8 );
    position: fixed;
    padding: 25px;
    bottom: 0;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.weather_subsection{
    display: flex;
    align-items: center;
    justify-content: center;
    

}